
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<body>

    <h2>Mission Statement:</h2>

    <p>Fuzzy Friend Finder is a non-profit organization which has been rehoming pets in the Detroit area for over 30 years. Our extensive network of volunteers, fosters and happy families are proof that all pet friends are worthy of love and shelter. With the help of our community, we have been able to rehome thousands of pets. Our work is supported by your generous donations and through our partnership with Detroit Animal Care and Control. Please consider making a donation today!</p>

    <h2>About:</h2>

    <p>Fuzzy friend finder is Detroit's premiere pet finding service. Our team works hard to find lasting homes for pets with a past and offers free supplies for all adopted pets including up-to-date vaccinations, food and toys. FFF is currently looking for forever homes for each of the unique cats and dogs listed on our website. Sign up with us today to volunteer or to adopt a pet!</p>

    <h2>Getting Involved:</h2>

    <p>Get involved with us! We offer exciting volunteer opportunities including:</p>

    <li>Dog walking</li>
    <li>Kitten play sessions</li>
    <li>Pet fostering</li>

    <p>We are currently accepting donations for dog and cat food (wet and dry), pet toys, as well as monetary donations in any amount.</p>

    <button type="button" class="btn btn-primary btn-lg">Donate Money Today!</button>

</body>
