
@{
    ViewData["Title"] = "AllListings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllListings</h1>

<body>
    <p>
        Here are all our pets that are currently up for adoption.
    </p>
</body>