
@{
    ViewData["Title"] = "Cats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cats</h1>

<body>
    <p>
        Here is a list of our cats that are currently up for adoption.
    </p>
</body>