<!----------Author: Jules And Amelia----------------------->
@{
    ViewData["Title"] = "GetInvolved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>Getting Involved:</h2>







<p>Get involved with us! We offer exciting volunteer opportunities including:</p>
<ul>
<li>Dog walking</li>
    
<li>Kitten play sessions</li>
    
<li>Pet fostering</li>
    
</ul>

<p>We are currently accepting donations for dog and cat food (wet and dry), pet toys, as well as monetary donations in any amount.</p>

<a type="button" class="btn btn-primary btn-lg" asp-area="Customer" asp-action="Index" asp-controller="Donation">Donate Money Today!</a>