<!-------Author: Jules,Amelia ,Mallika---------------------------->
@using Microsoft.AspNetCore.Http;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (HttpContextAccessor.HttpContext.Session.GetString("PetRequestMessage") == null)
    {
    }
    else
    {
        <p class="alert" style="color:darkred">@HttpContextAccessor.HttpContext.Session.GetString("PetRequestMessage")</p>
    }



    @if (HttpContextAccessor.HttpContext.Session.GetString("Message") == null)
    {
    }
    else
    {
        <p class="alert " style="color:darkred">@HttpContextAccessor.HttpContext.Session.GetString("Message")</p>
    }

</div>



<div class="text-center">
    <br />
    <h3 class="display-4">Fuzzy Friend Finder</h3>
    <h4>Finding Fur-Ever Homes</h4>
    <br />
    <img src="~/images/family pet-carousel.jpg" />
    <br />
    <br />
    <br />
    <br />
    <h5>We're dedicated to helping our fuzzy friends find their forever home. With the help of grants and government funding, we're able to provide temporary shelter to these animals, but they're in need of homes. We're happy you're here to help.</h5>
    <br />
    <br />
    <br />
    <br />

</div>


<div class="text-center">
    <img src="~/images/Pet Mixer (72 x 34 in) (72 x 30 in) (72 x 25 in) (20 x 10 in) (1).png" width="600" height="240" />
</div>