@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Fuzzy Friend Finder</h3>
    <h4>Finding Fur-ever Homes Since 1990</h4>
    <img src= "~/images/About Page Photo (1).jpeg" width="450" height="200"/>
</div>

<div class="text-center">
    Search cats and dogs for adoption in the Detroit area!
</div>